.vs/
bin/
obj/
*.crx
*.pem
REBUSS.AzureDevops.PullResuestService/appsettings.Local.json
REBUSS.AzureDevOps.PullRequestAPI.IntegrationTests/appsettings.test.json
REBUSS.AzureDevOps.PullRequestAPI.IntegrationTests/appsettings.Local.json
REBUSS.GitDaif.Service.API/appsettings.Local.json
REBUSS.GitDaif.Service.API.IntegrationTests/appsettings.Local.json
REBUSS.GitDaif.Service.API.IntegrationTests/appsettings.test.json
REBUSS.AzureDevops.EdgeExt/node_modules/
